@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    

}

*:focus{
    outline: none;
}

html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;

}
.col .image img{
    border-radius: 5px;
    cursor: pointer;
    /*transition:  0.5s linear;*/
}

.col1 .image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    /*transition:  0.5s linear;*/
}

.col .image img:hover{
    box-shadow: 0px 3px 12px 0px #fd8505;
    border: 1px solid transparent;
}

.col1 .image img:hover{
    box-shadow: 0px 3px 12px 0px #fd8505;
    border: 1px solid transparent;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 15px 8%;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 30px;
    gap: 50px;
    margin-top: 3%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fd8505;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-weight: 700;
}
.header-text h1 span{
    color: #fd8505;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: transparent #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    color: #fd8505;
}

/*------- criar a grelha das fotografias -----*/
.row{
    display: flex;
    gap: 20px;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col1{
    background-size: cover;
    width: 400%;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fd8505;
    padding: 18px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #fd8505;
}

/*------Scroll to top -------*/

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fd8505;
    color: #000;
    border: none;
    border-radius: 50%; /* Alterado para criar um botão em forma de círculo */
    width: 40px;
    height: 40px;
}

h5{
    font-size: 40px; /* Aumentado o tamanho da fonte para a seta ser mais visível */
    line-height: 40px; /* Garante que a seta permaneça centralizada verticalmente */
    margin-top: -5px;
    margin-left: 8px;
    cursor: pointer;
}

/* ------- image to full ----- */

.container1 .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container1 .popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fd8505;
    cursor: pointer;
    z-index: 100;
}

.container1 .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border:  5px solid #fd8505;
    border-radius: 5px;
    width: 700px;
    object-fit: cover;
}

.image.hidden {
    display: none;
}

.image-transition {
    transition: opacity 0.5s ease-in-out;
}

/*---------css for small screens ----------*/
nav .fa-solid{
    display: none;
}
@media screen and (max-width:800px){
    .col1{
        flex-direction: column;
        width: 900%;
    }
}
@media screen and (max-width:600px){
    .row{
        flex-direction: column;
    }
    .col1{
        flex-direction: column;
        width: 100%;

    }
    .container1 .popup-image img{
        width: 80%;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px ;
    }
    nav ul{
        background: #fd8505;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    nav ul li a:hover::after{
        width: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}


